@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

nav a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.titulo {
    color: #16a34a;
}

header {
    background: white;
    padding: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo img {
    width: 55px;
}

.logo h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 16px;
    font-weight: 500;
    color: #1f2937;
    cursor: pointer;
}

nav ul li a {
    transition: color 0.2s;
}

nav ul li a:hover, nav ul li a.active {
    color: #0CA554;
    font-weight: 600;
}

.btn-login {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #0CA554;
    color: white;
    font-weight: 600;
    transition: background-color 0.2s;
}

.btn-login:hover {
    background-color: #0a8f47;
}
